---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout
  title='Welcome to My Astro Page'
  seo={{ description: 'A simple Astro page' }}
>
<section class="bg-primary text-white p-8">
  <h1 class="text-4xl font-bold mb-4">Hello, Astro!</h1>
  <p class="text-lg">This is a simple page built with Astro.</p>
  <p class="text-lg">Explore the features and enjoy the performance!</p>
</section>
</MainLayout>
