---
import MainLayout from '@/layouts/main-layout.astro'
import { AuthForm } from '@/components/auth-form'
---

<MainLayout title='Register'>
  <div class='flex h-screen items-center justify-center'>
    <AuthForm type='register' client:load />
  </div>
</MainLayout>
